<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477251828061-68roh19kbpr5bfsn263bf528buialrv6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477251828061-68roh19kbpr5bfsn263bf528buialrv6</string>
	<key>API_KEY</key>
	<string>AIzaSyATV7eT7WvOqg0eowMv8pNM2EjqwUaVgaU</string>
	<key>GCM_SENDER_ID</key>
	<string>477251828061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movies.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>movies-21ec5</string>
	<key>STORAGE_BUCKET</key>
	<string>movies-21ec5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477251828061:ios:7e10d65f4870eed23950b4</string>
</dict>
</plist>